<section class="component">
  <h3 id="scrollbar">Scrollbar</h3>
  <div>
    <blockquote>
      A control that allows users to scroll the content of a window, either vertically or horizontally.

      <footer>&mdash; <a href="https://docs.microsoft.com/en-us/windows/win32/uxguide/glossary#s">
          Microsoft Windows User Experience Glossary</a></footer>
    </blockquote>

    <p>
      Upon importing this CSS, the browser's system scrollbar is overridden
      by the Windows 7 custom scrollbar (WebKit-based browsers only).
    </p>
  </div>
</section>