button,
[role="button"] {
  font: var(--font);
  box-sizing: border-box;
  border: var(--button-border);
  border-color: var(--button-border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--button-shadow);
  color: #222;
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
  text-align: center;
  background: var(--button-gradient);

  &:disabled {
    background: var(--button-face-disabled);
    border-color: var(--button-border-color-disabled);
    color: var(--button-text-color-disabled);
  }

  &:not(:disabled) {
    &:hover {
      border-color: var(--button-border-color-hovered);
      background: var(--button-gradient-hovered);
    }

    &:active,
    &.active {
      box-shadow: var(--button-shadow-active);
      border-color: var(--button-border-color-active);
      background: var(--button-gradient-active);
    }
  }

  &:focus,
  &.focused {
    box-shadow: inset 0 0 0 2px var(--button-shade-light-active);
    outline: 1px dotted #000000;
    outline-offset: -4px;
  }

  &.default {
    box-shadow: inset 0 0 0 1px #34deff;
    border-color: var(--button-border-color-default);
    background: linear-gradient(
      to bottom,
      var(--button-face) 45%,
      var(--button-shade-light-default) 45%
    );
  }
}
