:root {
  --button-border-transition-hovered: border-color 0.3s;
  --button-border-transition-not-hovered: border-color 1s linear;
  --button-border-transition-active: border-color 0.3s;
  --button-box-shadow-focus-visible: inset 0 0 0 2px var(--button-shade-light-active);
  --button-outline-focus-visible: 1px dotted #000;
  --button-outline-offset-focus-visible: -4px;
  --button-animation-focus: 1s ease infinite alternate pulse-anim;
  --button-box-sizing: border-box;
  --button-min-width: 75px;
  --button-min-height: 23px;
  --button-padding: 0 12px;
  --button-text-align: center;
  --button-position: relative;
  --button-z-index: 0;
  --button-font-color: #222;
}

button,
[role="button"] {
  font: var(--font);
  box-sizing: var(--button-box-sizing);
  border: var(--button-border);
  border-color: var(--button-border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--button-shadow);
  color: var(--button-font-color);
  min-width: var(--button-min-width);
  min-height: var(--button-min-eight);
  padding: var(--button-padding);
  text-align: var(--button-text-align);
  background: var(--button-gradient);
  position: var(--button-position);
  z-index: var(--button-z-index);

  /* Button style on hovered */
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--button-shadow);
    background: var(--button-gradient-hovered);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
  }

  /* Button style on clicked */
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    box-shadow: var(--button-shadow-active);
    border-radius: 2px;
    background: var(--button-gradient-active);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
  }

  &:disabled {
    background: var(--button-face-disabled);
    border-color: var(--button-border-color-disabled);
    color: var(--button-text-color-disabled);
  }

  &:not(:disabled) {
    /* Animation when hovered */
    &:hover {
      border-color: var(--button-border-color-hovered);
      transition: var(--button-border-transition-hovered);

      &::before {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }

    /* Animation when unhovered */
    &:not(:hover) {
      border-color: var(--button-border-color);
      transition: var(--button-border-transition-not-hovered);

      &::before {
        opacity: 0;
        transition: opacity 1s linear;
      }
    }

    &:active,
    &.active {
      border-color: var(--button-border-color-active);
      transition: var(--button-border-transition-active);

      &::after {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }
  }

  &:focus-visible,
  &.focused {
    box-shadow: var(--button-box-shadow-focus-visible);
    outline: var(--button-outline-focus-visible);
    outline-offset: var(--button-outline-offset-focus-visible);
  }

  &.default,
  &:focus,
  &.focused {
    border-color: var(--button-border-color-default);
    background-image: var(--button-gradient-hovered);
    animation: var(--button-animation-focus);
  }
}

input[type="file"] {
  &::file-selector-button {
    font: var(--font);
    box-sizing: var(--button-box-sizing);
    border: var(--button-border);
    border-color: var(--button-border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--button-shadow);
    color: var(--button-font-color);
    min-width: var(--button-min-width);
    min-height: var(--button-min-eight);
    padding: var(--button-padding);
    text-align: var(--button-text-align);
    background: var(--button-gradient);
    position: var(--button-position);
    z-index: var(--button-z-index);
  }

  &:active::file-selector-button,
  &.active::file-selector-button {
    border-color: var(--button-border-color-active);
    transition: var(--button-border-transition-active);
  }

  &:focus-visible::file-selector-button,
  &.focused::file-selector-button {
    box-shadow: var(--button-box-shadow-focus-visible);
    outline: var(--button-outline-focus-visible);
    outline-offset: var(--button-outline-offset-focus-visible);
  }

  &.default::file-selector-button,
  &:focus::file-selector-button,
  &.focused::file-selector-button {
    border-color: var(--button-border-color-default);
    background-image: var(--button-gradient-hovered);
    animation: var(--button-animation-focus);
  }
}

@keyframes pulse-anim {
  from {
    box-shadow: inset 0 0 3px 1px #34deffdd;
  }
  to {
    box-shadow: inset 0 0 1px 1px #34deffdd;
  }
}
