/*-------------------------------------------*\
    Forms
\*-------------------------------------------*/

label {
  font-family: var(--sans-serif);
  font-size: 11px;
  display: inline-flex;
  align-items: center;
}
input {
  font-family: var(--sans-serif);
  font-size: 11px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  font-family: var(--sans-serif);
  font-size: 11px;
  padding: 3px 4px 5px;
  border: 1px solid #ccc;
  border-top-color: var(--button-border-color);
  border-radius: 2px;
  background-color: var(--button-highlight);
  box-sizing: border-box;
  &:focus {
    outline: none;
    border-color: var(--button-shade-light-hover);
    border-top-color: var(--button-shade-light-active);
  }
}
input[type="text"],
input[type="password"],
input[type="email"] {
  height: 21px;
  line-height: 2;
  &:focus {
    outline: none;
  }
}
select {
  font-family: var(--sans-serif);
  font-size: 11px;
  padding: 2px 3px;
  border: var(--button-border);
  border-color: var(--button-border-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  padding-right: 30px;
  background: svg-load("./icon/button-down.svg"),
    linear-gradient(
      to bottom,
      var(--button-face) 45%,
      var(--button-shade-light) 45%,
      var(--button-shade-dark)
    );
  background-position: center right;
  background-repeat: no-repeat;
  &:focus {
    outline: none;
    border-color: var(--button-border-color-active);
    background-image: svg-load("./icon/button-down.svg"),
      linear-gradient(
        to bottom,
        var(--button-face-active) 45%,
        var(--button-shade-light-active) 45%
      );
  }
}
.vertical-bar {
  width: 4px;
  height: 20px;
  background: #c0c0c0;
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
}
&:disabled {
  color: var(--button-shadow);
  text-shadow: 1px 1px 0 var(--button-highlight);
  + {
    label {
      color: var(--button-shadow);
      text-shadow: 1px 1px 0 var(--button-highlight);
    }
  }
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  background: 0;
  position: fixed;
  opacity: 0;
  border: none;
  + {
    label {
      line-height: 13px;
      position: relative;
      margin-left: var(--radio-total-width);
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(-1 * (var(--radio-total-width-precalc)));
        display: inline-block;
        width: var(--radio-width);
        height: var(--radio-width);
        margin-right: var(--radio-label-spacing);
        background: #fff;
        border-radius: 50%;
        border: 1px solid;
        border-color: var(--button-border-color);
        box-shadow: inset 0 0 0 1.5px #ddd, inset 1px 3px 4px #888;
        box-sizing: border-box;
      }
    }
  }
  &:active {
    + {
      label {
        &::before {
          background: svg-load("./icon/radio-border-disabled.svg");
        }
      }
    }
  }
  &:checked {
    + {
      label {
        &::after {
          content: "";
          display: block;
          width: var(--radio-dot-width);
          height: var(--radio-dot-width);
          top: var(--radio-dot-top);
          left: var(--radio-dot-left);
          position: absolute;
          background: #7cd3eb;
          border-radius: 50%;
          border: 1.5px solid #27506d;
          box-shadow: inset -1px -1px 0 0.5px #16638f,
            inset -1px -1px 0 1px #1985c0;
          box-sizing: border-box;
        }
      }
    }
  }
  &:focus {
    + {
      label {
        outline: 1px dotted #000000;
      }
    }
  }
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  background: 0;
  position: fixed;
  opacity: 0;
  border: none;
  + {
    label {
      line-height: 13px;
      position: relative;
      margin-left: var(--checkbox-total-width);
      &::before {
        content: "";
        display: inline-block;
        width: var(--checkbox-width);
        height: var(--checkbox-width);
        margin-right: var(--radio-label-spacing);
        background: #ddd;
        border: 1px solid;
        border-color: var(--button-border-color);
        box-shadow: inset 0 0 0 1.5px #eee, inset 0 2px 4px #888,
          inset -2px -3px 4px #fff;
        box-sizing: border-box;
      }
    }
  }
  &:focus {
    + {
      label {
        outline: 1px dotted #000000;
      }
    }
  }
  &:active {
    + {
      label {
        &::before {
          background: var(--surface);
        }
      }
    }
  }
  &:checked {
    + {
      label {
        &::after {
          content: "\2714";
          font-weight: bold;
          display: block;
          width: var(--checkmark-width);
          height: var(--checkmark-width);
          position: absolute;
          top: var(--checkmark-top);
          left: var(--checkmark-left);
          color: #16638f;
        }
      }
    }
  }
}
input[type="radio"][disabled],
input[type="checkbox"][disabled] {
  & + label {
    opacity: 0.5;
  }
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 21px;
    width: 11px;
    background: svg-load("./icon/indicator-horizontal.svg");
    transform: translateY(-8px);
  }
  &::-moz-range-thumb {
    height: 21px;
    width: 11px;
    border: 0;
    border-radius: 0;
    background: svg-load("./icon/indicator-horizontal.svg");
    transform: translateY(2px);
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background: var(--surface);
    box-sizing: border-box;
    box-shadow: inset 1px 1px 1px #999, inset -1px 0 #999, 0 1px #fff;
  }
  &::-moz-range-track {
    width: 100%;
    height: 2px;
    box-sizing: border-box;
    background: black;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 0 0 darkgrey,
      -1px -1px 0 darkgrey, 0 -1px 0 darkgrey, -1px 1px 0 white,
      1px -1px darkgrey;
  }
}
input[type="range"].has-box-indicator {
  &::-webkit-slider-thumb {
    background: svg-load("./icon/indicator-rectangle-horizontal.svg");
    transform: translateY(-10px);
  }
  &::-moz-range-thumb {
    background: svg-load("./icon/indicator-rectangle-horizontal.svg");
    transform: translateY(0px);
  }
}
.is-vertical {
  display: inline-block;
  width: 4px;
  height: 150px;
  transform: translateY(50%);
  > input[type="range"] {
    width: 150px;
    height: 4px;
    margin: 0 calc(var(--grouped-element-spacing) + var(--range-spacing)) 0
      var(--range-spacing);
    transform-origin: left;
    transform: rotate(270deg) translateX(calc(-50% + var(--element-spacing)));
    &::-moz-range-track {
      border-left: 1px solid grey;
      border-right: 0;
      border-bottom: 1px solid grey;
      box-shadow: -1px 0 0 white, -1px 1px 0 white, 0 1px 0 white,
        1px 0 0 darkgrey, 1px -1px 0 darkgrey, 0 -1px 0 darkgrey,
        1px 1px 0 white, -1px -1px darkgrey;
    }
    &::-webkit-slider-thumb {
      transform: translateY(-8px) scaleX(-1);
    }
    &::-moz-range-thumb {
      transform: translateY(2px) scaleX(-1);
    }
  }
  > input[type="range"].has-box-indicator {
    &::-webkit-slider-thumb {
      transform: translateY(-10px) scaleX(-1);
    }
    &::-moz-range-thumb {
      transform: translateY(0px) scaleX(-1);
    }
  }
}
