/*-------------------------------------------*\
    Global
\*-------------------------------------------*/
:root {
  --sans-serif: "Segoe UI", sans-serif;
  --surface: #f0f0f0;

  --button-highlight: #fff;
  --button-face: #eee;
  --button-face-hover: #e5f4fd;
  --button-face-active: #cee9f8;
  --button-shade-light: #ddd;
  --button-shade-light-hovered: #b3e0f9;
  --button-shade-light-active: #86c6e8;
  --button-shade-dark: #bbb;
  --button-shadow: inset 0 -1px 1px #fff, inset 0 1px 1px #fff;
  --button-border: 1.5px solid;
  --button-border-color: #888;
  --button-border-color-hovered: #72a2c5;
  --button-border-color-active: #6d91ab;

  --link-color: #0066cc;
  --link-color-hovered: #3399ff;
  --scrollbar-y: linear-gradient(to right, #e5e5e5, var(--surface) 20%);
  --scrollbar-x: linear-gradient(to bottom, #e5e5e5, var(--surface) 20%);

  /* Spacing */
  --element-spacing: 8px;
  --grouped-element-spacing: 6px;

  /* Borders */
  --border-radius: 3px;
  --border-width: 1px;
}

body {
  font-family: Arial;
  font-size: 12px;
  color: #222222;
}
.surface {
  background: var(--surface);
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
u {
  text-decoration: none;
  border-bottom: 0.5px solid #222222;
}

a {
  color: var(--link-color);
  &:focus {
    outline: 1px dotted var(--link-color);
  }
  &:hover {
    color: var(--link-color-hovered);
  }
}

code {
  font-family: monospace;
  * {
    font-family: monospace;
  }
}
pre {
  display: block;
  margin: 0;
  padding: 12px 8px;
  background: #fff;
  border: 1px solid var(--button-border-color);
}
summary {
  &:focus {
    outline: 1px dotted #000000;
  }
}
::-webkit-scrollbar {
  width: 16px;
  &:horizontal {
    height: 17px;
  }
}
::-webkit-scrollbar-corner {
  background: var(--button-face);
}
::-webkit-scrollbar-track {
  &:vertical {
    background: var(--scrollbar-y);
  }
  &:horizontal {
    background: var(--scrollbar-x);
  }
}
::-webkit-scrollbar-thumb {
  border: var(--button-border);
  border-color: var(--button-border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--button-shadow);
  &:vertical {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAIAAADpZ+PpAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAADrSURBVChTTc5LboJQGAXguyoCu4ERCzAGlRk7UOwGWIDh0s4M4kxb06RSq/jAB6AxJkJ4lTDrue3AnvyzP+fLId+/yfM8juP7PQmCCOf7B3e+ZD+O40RRVFW12VQUpd3r9U3T2m4OpKoqWZYNwzBZLEqfh0N7NnvfrPcEWlEUWZb9mWF4Ph6D0ylcLbfM5HkeJrhGA2hb15/QXnv+w7RYXsDatjOdvnmrHSnLEizMNE2v11sUXQBCnn98kbquBUGQJAlmq9WB2e3qg4HJdqKkaRql1HGc0WgMcDJ5dd0F24kediZJ8t/ELT69H+8py0CYSIO5AAAAAElFTkSuQmCC")
        no-repeat center,
      linear-gradient(
        to right,
        var(--button-face) 45%,
        var(--button-shade-light) 45%,
        var(--button-shade-dark)
      );
  }
  &:horizontal {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAADcSURBVChTNZBLqoUwEEQrURQUxZGCvy24ACfiityJi7tv8GauQoPxk5tquA2RQ9vVVYk6z9NZaxFFEe77htYazjk8z4MwDIVZ+rourOuKaZrwvi+WZcE8z1BKCbPPCjk4DAO2bRP1OI7wLiL6Mbd7J408z1GWpQwWRYGqqiQG+03TgMu0MacfUN4qANmn8UOv9MjW3sKaSm7iIdOSlziOQ3LScd93aPonSYK6riVLlmVo21aYfVqzND9pmqLrOlGT+76XbcxLZkb19/l3fEP+oF0cx8KMEASBsDEGX2/CgZCHkg+8AAAAAElFTkSuQmCC")
        no-repeat center,
      linear-gradient(
        to bottom,
        var(--button-face) 45%,
        var(--button-shade-light) 45%,
        var(--button-shade-dark)
      );
  }

  background-color: var(--button-face);
}
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}
::-webkit-scrollbar-button {
  &:vertical {
    height: 17px;
    &:start {
      background: svg-load("./icon/button-up.svg"), var(--scrollbar-y);
    }
    &:end {
      background: svg-load("./icon/button-down.svg"), var(--scrollbar-y);
    }
  }
  &:horizontal {
    width: 16px;
    &:start {
      background: svg-load("./icon/button-left.svg"), var(--scrollbar-x);
    }
    &:end {
      background: svg-load("./icon/button-right.svg"), var(--scrollbar-x);
    }
  }
}
