/**
 * Core 7.css
 * Based on XP GUI.css by Adam Hammad <adamham.dev>
 * https://github.com/khang-nd/7.css/blob/main/LICENSE
 */

@import "_variables.scss";
@import "_balloon.scss";
@import "_button.scss";
@import "_checkbox.scss";
@import "_collapse.scss";
@import "_combobox.scss";
@import "_dropdown.scss";
@import "_groupbox.scss";
@import "_listbox.scss";
@import "_listview.scss";
@import "_menu.scss";
@import "_progressbar.scss";
@import "_radiobutton.scss";
@import "_scrollbar.scss";
@import "_searchbox.scss";
@import "_slider.scss";
@import "_spinner.scss";
@import "_tabs.scss";
@import "_textbox.scss";
@import "_treeview.scss";
@import "_typography.scss";
@import "_window.scss";
