<aside>
  <ul class="tree-view has-connector has-collapse-button has-container has-scrollbar">
    <li><a href="#intro">Intro</a></li>
    <li>
      <a href="#install">Installation</a>
      <ul>
        <li><a href="#scoping">Scoping</a></li>
        <li><a href="#tree-shaking">Tree-shaking</a></li>
      </ul>
    </li>
    <li>
      <details open>
        <summary><a href="#components">Components</a></summary>
        <ul>
          <li><a href="#balloon">Balloon</a></li>
          <li><a href="#button">Button</a></li>
          <li><a href="#checkbox">CheckBox</a></li>
          <li><a href="#collapse">Collapse</a></li>
          <li><a href="#combobox">ComboBox</a></li>
          <li><a href="#dropdown">Dropdown</a></li>
          <li><a href="#groupbox">GroupBox</a></li>
          <li><a href="#listbox">ListBox</a></li>
          <li><a href="#listview">ListView (table)</a></li>
          <li>
            <details open>
              <summary><a href="#nav">Navigation</a></summary>
              <ul>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#menubar">MenuBar</a></li>
              </ul>
            </details>
          <li><a href="#radio">OptionButton</a></li>
          <li><a href="#progressbar">ProgressBar</a></li>
          <li><a href="#scrollbar">Scrollbar</a></li>
          <li><a href="#searchbox">SearchBox</a></li>
          <li><a href="#slider">Slider</a></li>
          <li><a href="#spinner">Spinner</a></li>
          <li><a href="#tabs">Tabs</a></li>
          <li><a href="#textbox">TextBox</a></li>
          <li><a href="#tree-view">TreeView</a></li>
          <li>
            <details open>
              <summary><a href="#window">Window</a></summary>
              <ul>
                <li><a href="#title-bar">Title Bar</a></li>
                <li><a href="#window-body">Window body</a></li>
                <li><a href="#status-bar">Status Bar</a></li>
                <li><a href="#glass-frame-color">Glass frame & Color</a></li>
                <li><a href="#dialog-box">Dialog Box</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </details>
    </li>
    <li><a href="#issues-contributing-etc">Issues, Contributing, etc.</a></li>
  </ul>
</aside>