<section id="social">
  <a role="button" target="_blank" href="https://twitter.com/share?url=https://khang-nd.github.io/7.css">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/X_logo_2023.svg" alt="X logo" width="18" height="18">
    Share
  </a>
  <a role="button" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://khang-nd.github.io/7.css">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg" alt="Facebook logo" width="18"
      height="18">
    Share
  </a>
  <a role="button" target="_blank" href="https://www.linkedin.com/shareArticle?url=https://khang-nd.github.io/7.css">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" alt="LinkedIn logo" width="18"
      height="18">
    Share
  </a>
  <a role="button" target="_blank" href="https://github.com/khang-nd/7.css">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c2/GitHub_Invertocat_Logo.svg" alt="GitHub logo"
      width="18" height="18">
    Fork
  </a>
</section>