<section id="social">
  <a role="button" target="_blank" href="https://twitter.com/share?url=https://khang-nd.github.io/7.css">
    <img src="https://abs.twimg.com/favicons/twitter.ico">
    Tweet
  </a>
  <a role="button" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://khang-nd.github.io/7.css">
    <img src="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico">
    Share
  </a>
  <a role="button" target="_blank" href="https://www.linkedin.com/shareArticle?url=https://khang-nd.github.io/7.css">
    <img src="https://static-exp1.licdn.com/sc/h/al2o9zrvru7aqj8e1x2rzsrca">
    Share
  </a>
  <a role="button" target="_blank" href="https://github.com/khang-nd/7.css">
    <img src="https://github.githubassets.com/favicons/favicon.svg">
    Fork
  </a>
</section>